@font-face {
    font-family: 'LoveYaLikeASister-Regular';
    src: local('LoveYaLikeASister-Regular'), url("../fonts/LoveYaLikeASister-Regular.ttf") format('truetype');
}
.outerStartupWrap {
    display: flex;
    flex-direction: column;
    height: 55rem;
    background: linear-gradient(180deg, #FFC75F 55%, #FFFFFF 45%);
}
.startupContentWrap {
    display: flex;
}
.startupLogoHello {   
    width: 13rem;
    height: 13rem;
    margin: 1rem;
}
.startupLogoWrap {
    flex: 2;
    height: 70%;
    margin-left: 10%;
}
.startupHeaders {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 1rem;    
    height: 70%;
}
.startupHeadOne {
    display: flex;
    font-family: 'LoveYaLikeASister-Regular';
    font-weight: 400;
    font-size: 4rem;
    margin: 2rem 0px 0px 0px;
    color: #FFFFFF;
}
.startupHeadThree {
    display: flex;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1px;
    color: #FFFFFF;
}
.startupTextInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    background: linear-gradient(180deg, #D9D9D9 90%, #845EC2 10%);
}
.startupTextInputBg {
    display: flex;
    justify-content: center;
}
.startupMessageText{
    align-self:"center";
    color: red;
    text-align: center;
}