@font-face {
    font-family: 'LoveYaLikeASister-Regular';
    src: local('LoveYaLikeASister-Regular'), url("../fonts/LoveYaLikeASister-Regular.ttf") format('truetype');
}
.headerWrap {
    display: flex;
    height: 10rem;
    width: 100%;
    background-color: #E7B355;
    border-bottom: 2px solid #000000;
}
.headerRobotLogo{        
    height: 80%;
}
.headerLogoWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}
.headerLiT {
    flex: 8;
    font-family: 'LoveYaLikeASister-Regular';    
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
