.NavBarUl {
    list-style-type:none;
    text-decoration: none;
}
.NavBarLi {
    list-style:none;
    text-decoration: none;
}
.NavBarButton  {
    background-color: #845EC2;
    color: #FFFFFF;
    border: none;
    border-radius: 2rem;
    width: 65px;
    height: 1.5rem;
    margin-top: 15%;    
    cursor: pointer;
}
.NavBarButton:hover {
    background-color: #9f72e7;
    
}