.passwordInputOuterWrap {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 2rem;    
    width: 100%;
    margin: 1rem;
}
.passwordInputContentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.passwordInputInput {
    display: flex;
    align-self: center;
    background-color: #efefef;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    height: 29%;
    width: 60%;
    margin: 2.5%;
    border-radius: 2rem;
}
.passwordInputInput:focus{
    outline: none;
}
.passwordInputTextField {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: 29%;
    margin: 3%;
}
.passwordInputHeaderFour {
    display: flex;    
    font-size: 1.7rem;
    font-weight: 400;
    margin: 1px;
}
.passwordInputButton  {
    background-color: #845EC2;
    align-self: center;
    position: relative;
    color: #FFFFFF;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    width: 10rem;
    height: 2rem;
    margin: 2%;
    cursor: pointer;    
}
.passwordInputButton:hover {
    background-color: #9f72e7;
}
.passwordInputButton:after {
    content: "";
    border-radius: 2rem;
    position: absolute;
    width: 10rem;
    height: 2rem;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px gray;
  }
.passwordInputButton:active:after {
    box-shadow: 0 0 0 0 gray;
    border-radius: 2rem;
    opacity: 1;
    transition: 0s;
}
