.outerProfileAvatarWrap {
    display: flex;
    flex: 4;
    align-items: center;  
}
.profileAvatarWrap {
    display: flex;
    justify-content: center;    
    align-items: center;
    position: relative;
    right: 1rem;
    background-color: #845EC2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.profileAvatarImg {
    height: 80%;
    width: 80%;
}
.profileAvatarUsernameWrap {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #845EC2;
    color: #FFFFFF;    
    border-radius: 2rem;
    height: 1.5rem;
}
.profileAvatarUsername {
    margin: 1rem 1.5rem 1rem 1rem;
}
.profileAvatarLogoutWrap {
    margin-left: 2rem;
}
.profileAvatarButton  {
    background-color: #845EC2;
    color: #FFFFFF;
    border: none;
    border-radius: 2rem;
    width: 65px;
    height: 1.5rem;
    margin: 3%;
}
.profileAvatarButton:hover {
    background-color: #9f72e7;
}