.textPromptKeyboardImg  {
    width: 4rem;
    height: 4rem;
    margin: 3%;
}
.textPromptArrowImg {
    width: 75%;
    height: 75%;
}
.textPromptOuterWrap {
    background-color: #efefef;
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 6rem;
    border-radius: 2rem;
    width: 100%;    
}
.textPromptTextInput {
    background-color: #efefef;
    font-size: 1.6rem;
    border: none;
    height: 90%;
    width: 70%;
}
.textPromptTextInput:focus{
    outline: none;
}
/*-----  Circle button styling -------*/
.textPromptCircleButton {
    background-color: #845EC2;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 3%;
    cursor: pointer;
}
.textPromptCircleButton:hover {
    background-color: #9f72e7;
}
.textPromptCircleButton:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px gray;
  }
  .textPromptCircleButton:active:after {
    box-shadow: 0 0 0 0 gray;
    border-radius: 50%;
    opacity: 1;
    transition: 0s;
  }
  