.translation-box {
    width: 80vw;
    height: 40vh;
    border-radius: 15px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 75px;
    box-shadow: 0 0 20px rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #845ec2;
    margin-top: auto;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
}

.text {
    background-color: #e3e3e3;
    border-radius: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    font-size: small;
}

.translation {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.sign {
    height: 75px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #845ec2;
    border-radius: 10px;
}