.translation-history-container {
    width: 80vw;
    height: 40vh;
    border-radius: 15px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 75px;
    box-shadow: 0 0 20px rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    height: 15%;
    background-color: #845ec2;
    margin-top: auto;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
}

.clear-btn {
    background-color: #e3e3e3;
    border-radius: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    font-size: small;
    border: 0;
    cursor: pointer;
}

.translation-history {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.single-translation {
    width: 90%;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 15px 0 15px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}